{% extends 'base.html' %}

{% block title %}Education | Portfolio{% endblock %}

{% block content %}

<h2>Education</h2>
<p><b>MCA</b> – Master of Computer Applications (2023 – 2025)</p>
<p><b>BCA</b> – Bachelor of Computer Applications (2020 – 2023)</p>

<h2>Skills</h2>
<ul>
    <li>Python</li>
    <li>Django</li>
    <li>HTML & CSS</li>
    <li>SQL / SQLite</li>
    <li>Git & GitHub</li>
</ul>

<h2>Technology Stack</h2>

<div class="tech-grid">

    <div class="tech-card">
        <h4>Backend</h4>
        <p>Python, Django</p>
    </div>

    <div class="tech-card">
        <h4>Frontend</h4>
        <p>HTML, CSS, Bootstrap</p>
    </div>

    <div class="tech-card">
        <h4>Database</h4>
        <p>SQLite (Suitable for Fresher Projects)</p>
    </div>

    <div class="tech-card">
        <h4>Tools</h4>
        <p>Git, VS Code</p>
    </div>

</div>

<h2>Projects</h2>

<div class="project">
    <b>Portfolio Website</b><br>
    Django-based personal portfolio showcasing skills and education.
</div>

<div class="project">
    <b>MediShelf Monitor</b><br>
    Medicine monitoring system built using Django and SQLite.
</div>

{% endblock %}
